body {
    margin: 0;
    background-color: #336699;
}

header {
    text-transform: uppercase;
    background-color: #ff5733;
    padding-bottom: 2%;
}

h3 {
    margin: 0;
    padding-top: 1.5%;
}

h1 {
    text-align: center;
    width: 30%;
    margin: auto;
    color: black;
}

fieldset {
    background-color: #ff5733;
    text-align: center;
    margin: auto;
    width: 30%;
}

a {
    color: white;
}

img {
    width: 5%;
    float: left;
}