p {
    font-style: italic;
    font-size: 120%;
    color: black;
}

header {
    text-transform: uppercase;
    padding-bottom: 0;
}

h1 {
    font-weight: bold;
    font-style: italic;
    color: black;
}
h2 {
   color: black;
   font-weight: normal;
}

fieldset {
    background-color: #6699CC;
    text-align: center;
    margin: auto;
    width: 30%;
}

a {
    text-decoration: none;
}

#logo {
    width: 5%;
    float: left;
}

#profilePhoto {
    height: auto;
    width: 50%;
}

.post {
    border: black 1pt solid;
    padding: 1%;
}